h1
{
    color: aqua;
    text-decoration: underline overline #FF3028;
    text-align: center;
}
div.carre
{
    float: none;
    margin-left: auto;
    margin-right: auto;
    width  : 200px;
    height : 200px;
    background : green;
    border-radius:8px;
    margin: 5px;
}
p.centre
{
    margin: auto;
    text-align: center;
    vertical-align: middle
}