h1
{
    color: aqua;
    text-decoration: underline overline #FF3028;
    text-align: center;
}
#carre 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width  : 500px;
    height : 500px;
    background : green;
}
#carre.p
{
    text-align: center;
}